extends layout
 
block content
    div.container
      div.jumbotron
        h1 #{title}
        p Statement: S#{id}
        p Format: #{type}
      div.row.marketing
        div.col-lg-6
          h4 URI
          p #{standard.uri}
          h4 Description
          p #{standard.description}
      