extends layout
 
block content
    div.container
      div.jumbotron
        h1 #{title}
        p Statement: S#{id}
        p Format: #{type}
      div.row.marketing
        div.col-lg-6
          h4 URI
          p #{standard.uri}
          h4 Description
          p #{standard.description}
          h4 Score Range
          p #{standard.score_range}          
        div.col-lg-6
          h4 List Position
          p #{standard.list_id}        
          h4 Is Part Of
          p #{standard.is_part_of}
          h4 Is Child Of
          p #{standard.is_child_of}          
      