extends layout
 
block content
    div.container
      div.jumbotron
        h1 #{title}
        p Statement: S#{id}
        p Description: #{standard.description}
      div.row.marketing
        div.col-lg-6
          h4 URI
          p: small: a(href="#{standard.uri}") #{standard.uri}
          h4 Subject
          p #{standard.subject}
          h4 Score Range
          p #{standard.score_range}          
        div.col-lg-6      
          h4 Is Part Of
          p: small: a(href="#{standard.is_part_of}") #{standard.is_part_of}
          h4 Is Child Of
          p: small: a(href="#{standard.is_part_of}") #{standard.is_part_of} 
          h4 List Position
          p #{standard.list_id}                   
        div.row.marketing
        div.col-lg-6
          h4 Has Child
          p: ul
            - for (var c in children) { 
            li: small: a(href="#{children[c]}") #{children[c]} 
            - }            